.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.photo{
    background-image: url('images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: 100% 80%;
    padding-bottom: 16em;
}

.text-light{
    font-weight: lighter;
    text-transform: uppercase;    
}
.edit{
    right:9em;
    bottom:0em;
    top: 13em;
    padding:2.5em;    
}
.edit-1{
    left:5em;
}
.edit h1{
    font-weight: lighter;
    font-size: 55px;
    text-transform: uppercase;
    
}


.bigger-text {
    font-size: 4rem;
    line-height: 1;
    

}
.like{
    display:flex;
    justify-content:space-around;
    
    
}
.font h1{
    font-weight: 5;
    
    
}
a.btn:hover{
    background-color:#000;
    color:white;
}
a.nav-link:hover{
    padding:5px;
    transition: 0.2s;
}
.paragraph{
    bottom:3em;
    left:1em;
    max-width: 5ch;
    color:#fff;
    text-transform: uppercase;
    letter-spacing:5px;
    font-size: 35px;
    font-weight: lighter;
    
   
}
.img{
    background-image: linear-gradient(rgba(0,0,0,0));
   
}
.para1{
    bottom:3em;
    left:1em;
    max-width: 15ch;
    color:#fff;
    text-transform: uppercase;
    letter-spacing:5px;
    font-size: 35px;
    font-weight: lighter;
}
.a-tag{
    text-decoration: none;
}